@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-page: 240, 247, 250;
    --bg-card: 255, 255, 255;
    --bg-card-alpha: 1;

    --primary: 39, 39, 39;

    --accent: 0, 0, 225;
    --accent-text: 255, 255, 255;

    --highlight-1: 255, 177, 177;
    --highlight-2: 253, 245, 203;
    --highlight-3: 224, 244, 255;
  }

  html,
  body {
    @apply h-full;
    @apply p-0;
    @apply overscroll-y-none;
    min-height: -webkit-fill-available;
    @apply font-sans;
    font-synthesis: none;
  }

  #__next {
    height: 100%;
  }

  /* START FONT STYLING */
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }

  h2 {
    @apply text-xl;
    @apply font-bold;
  }

  h3 {
    @apply text-lg;
    @apply font-bold;
  }

  h4 {
    @apply text-base;
    @apply font-bold italic;
  }

  p {
    @apply text-base;
  }

  small {
    @apply text-sm;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  pre {
    font-family: var(--font-quattro);
  }

  p {
    font-size: inherit;
  }

  ::placeholder {
    @apply text-tertiary !important;
    @apply italic;
  }
  /*END FONT STYLING*/

  /* START GLOBAL STYLING */

  /* END GLOBAL STYLING */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

a {
  @apply text-accent;
  @apply hover:cursor-pointer;
  text-decoration: underline;
}

.highlight {
  @apply px-[1px];
  @apply py-[1px];
  @apply -mx-[1px];
  @apply -my-[1px];
  @apply rounded-[4px];
  @apply box-decoration-clone;
}
