.scaleLeafletDocPreview {
  transform: scale(calc(160 / var(--page-width-unitless)));
}

.scaleLeafletCanvasPreview {
  transform: scale(calc(160 / 1272));
}

@media (min-width: 640px) {
  .scaleLeafletDocPreview {
    transform: scale(calc(192 / var(--page-width-unitless)));
  }
  .scaleLeafletCanvasPreview {
    transform: scale(calc(192 / 1272));
  }
}
